* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very_dark_blue: hsl(234, 12%, 34%);
  --grayish_blue: hsl(229, 6%, 66%);
  --very_light_gray: hsl(0, 0%, 98%);
}

body {
  width: 1440px;
  height: 922px; 
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-weight: 400;
  color: var(--very_dark_blue);
}

h2 {
  font-weight: 600;
  color: var(--very_dark_blue);
}

p {
  font-weight: 200;
  color: var(--very_dark_blue);
}

/*================
MAIN CONTENT 
================*/

/* ======== container 1 ======== */

.container-1 {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 30px;
}

.items-1 {
  width: 40%; 
  text-align: center;
}

.items-1 h1 {
  font-size: 2.18rem;
  padding-top: 15px;
}

.items-1 h2 {
  font-size: 2.3rem;
}

.items-1 p {
  font-size: 16px;
  padding-top: 13px;
  letter-spacing: 0.6px;
}

/* ========== container 2 ========= */

.container-2 {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.item {
  padding: 30px;
}

/* ========= item 2 ========= */

.items-2 {
  width: 20%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 5px solid var(--cyan);
  border-radius: 1rem;
  padding: 2.1rem;
  position: relative;
  top: 110px;
  right: 5px;
}

.items-2 h2 {
  font-size: 1.25rem;
  position: relative;
  bottom: 8px;
  right: 5px;
}

.items-2 p {
  font-size: 0.85rem;
  position: relative;
  bottom: 21px;
  right: 2px;
}

.items-2 img {
  position: relative;
  left: 216px;
}

/* ========= item 3 ========= */

.items-3 {
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 5px solid var(--red);
  border-radius: 1rem;
  padding: 2.1rem;
  position: relative;
  bottom: 30px;
  right: 0;
}

.items-3 h2 {
  font-size: 1.25rem;
  position: relative;
  bottom: 8px;
  right: 5px;
}

.items-3 p {
  font-size: 0.85rem;
  position: relative;
  bottom: 20px;
}

.items-3 img {
  position: relative;
  left: 216px;
}

/* ========= item 4 ========= */

.items-4 {
  width: 20%;
  position: relative;
  top: 110px;
  left: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 5px solid var(--blue);
  border-radius: 1rem;
  padding: 2.1rem;
}

.items-4 h2 {
  font-size: 1.25rem;
  position: relative;
  bottom: 8px;
  right: 5px;
}

.items-4 p {
  font-size: 0.85rem;
  position: relative;
  bottom: 20px;
}

.items-4 img {
  position: relative;
  left: 216px;
}


/* ======== item 5 ========= */

.items-5 {
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 5px solid var(--orange);
  border-radius: 1rem;
  padding: 2.1rem;
  position: relative;
  bottom: 33px;
}

.items-5 h2 {
  font-size: 1.25rem;
  position: relative;
  bottom: 8px;
  right: 5px;
}

.items-5 p {
  font-size: 0.85rem;
  position: relative;
  bottom: 20px;
}

.items-5 img {
  position: relative;
  left: 216px;
}




/*================
RESPONSIVE DESIGN 
================*/




@media all and (max-width: 600px) {

  body {
    width: 375px;
    height: 1360px; 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }

  /* ======== container 1 ======== */

  .container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item {
    padding: 30px;
  }

  .items-1 {
    width: 100%; 
    text-align: center;
  }

  .items-1 h1 {
    font-size: 1.40rem;
    padding-top: 15px;
    position: relative;
    top: 8px;
  }

  .items-1 h2 {
    padding-top: 8px;
    font-size: 1.5rem;
  }

  .items-1 p {
    font-size: 14px;
    padding-top: 23px;
    letter-spacing: 0.6px;
  }

  /* ========== container 2 ========= */

  .container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item {
    padding: 30px;
  }

  /* ========= item 2 ========= */

  .items-2 {
    width: 80%; 
    height: 142px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 5px solid var(--cyan);
    border-radius: 1rem;
    padding: 2.1rem;
    position: relative;
    top: -12px;
  }

  .items-2 h2 {
    font-size: 1.25rem;
    position: relative;
    bottom: 13px;
    right: 5px;
  }

  .items-2 p {
    font-size: 0.85rem;
    position: relative;
    bottom: 25px;
    right: 2px;
  }

  .items-2 img {
    width: 54px;
    height: 54px;
    position: relative;
    left: 200px;
    top: -19px;
  }

  /* ========= item 3 ========= */

  .items-3 {
    width: 80%;
    height: 142px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 5px solid var(--red);
    border-radius: 1rem;
    padding: 2.1rem;
    position: relative;
    top: -10px;
  }

  .items-3 h2 {
    font-size: 1.25rem;
    position: relative;
    bottom: 13px;
    right: 5px;
  }

  .items-3 p {
    font-size: 0.85rem;
    position: relative;
    bottom: 25px;
  }

  .items-3 img {
    position: relative;
    left: 200px;
    top: -19px;
    width: 54px;
    height: 54px;
  }

  /* ========= item 4 ========= */

  .items-4 {
    width: 80%;
    height: 142px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 5px solid var(--blue);
    border-radius: 1rem;
    padding: 2.1rem;
    position: relative;
    top: 235px;
    left: 2px;
  }

  .items-4 h2 {
    font-size: 1.25rem;
    position: relative;
    bottom: 8px;
    right: 5px;
  }

  .items-4 p {
    font-size: 0.85rem;
    position: relative;
    bottom: 25px;
  }

  .items-4 img {
    width: 56px;
    height: 56px;
    position: relative;
    left: 188px;
    bottom: 19px;
  }


  /* ======== item 5 ========= */

  .items-5 {
    width: 80%;
    height: 142px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 5px solid var(--orange);
    border-radius: 1rem;
    padding: 2.1rem;
    position: relative;
    top: -260px;
  }

  .items-5 h2 {
    font-size: 1.25rem;
    position: relative;
    bottom: 8px;
    right: 5px;
  }

  .items-5 p {
    font-size: 0.85rem;
    position: relative;
    bottom: 25px;
  }

  .items-5 img {
    width: 56;
    height: 56;
    position: relative;
    left: 190px;
    top: -19px;
  }


}

/*================
FOOTER 
================*/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
